<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513454201067-tk45r2270m3pishe7aqnpfgdlboiv1g5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513454201067-tk45r2270m3pishe7aqnpfgdlboiv1g5</string>
	<key>API_KEY</key>
	<string>AIzaSyBHsm1WHRrMKYwvKjtME6hzctxxIzODL18</string>
	<key>GCM_SENDER_ID</key>
	<string>513454201067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vitalsenseapp</string>
	<key>PROJECT_ID</key>
	<string>fluted-arch-341414</string>
	<key>STORAGE_BUCKET</key>
	<string>fluted-arch-341414.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513454201067:ios:ba0aefa2e3b1b021fd06ae</string>
	<key>DATABASE_URL</key>
	<string>https://fluted-arch-341414-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>